@font-face {
   font-family: "Trajan Pro";
   src: url("fonts/TrajanPro-Bold.woff") format("woff"), url("fonts/TrajanPro-Bold.eot") format("embedded-opentype"), url("fonts/TrajanPro-Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Trajan Pro";
   src: url("fonts/TrajanPro-Regular.woff") format("woff"), url("fonts/TrajanPro-Regular.eot") format("embedded-opentype"), url("fonts/TrajanPro-Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}